/zetaglest
/zetaglest.6
/zetaglest_editor*
/zetaglest_g3dviewer*
/zetaglest_tests

!/*.desktop

core
core.bak
core.1

/build/
/release/
/linux_symbols/
/mydata

/lib/
/lib_bkp/

# Coverity
/cov-analysis*/
/cov-int
