Source: glest
Section: games
Priority: extra
Maintainer: Glest Team <glest@gmail.com>
Uploaders:
 Andy Alt <andy400-dev@yahoo.com>
Build-Depends:
 cmake,
 debhelper (>= 9),
 libcppunit-dev,
 libcurl4-gnutls-dev | libcurl4-nss-dev,
 libfontconfig1-dev,
 libfribidi-dev,
 libftgl-dev,
 libglew-dev,
 libircclient-dev,
 libjpeg-dev,
 liblua5.1-0-dev,
 libminiupnpc-dev,
 libogg-dev,
 libopenal-dev,
 libpng-dev,
 libsdl2-dev,
 libvorbis-dev,
 libwxgtk3.0-dev,
 libz-dev,
 xauth
Standards-Version: 3.9.8
Homepage: https://github.com/Glest

Package: glest
Architecture: any
Depends:
 famfamfam-flag-png,
 fonts-liberation,
 fonts-uralic,
 glest-data (>= 0.8.02),
 p7zip-full,
 fonts-dejavu-core,
 fonts-wqy-zenhei,
 ${misc:Depends},
 ${shlibs:Depends}
Description: network multi-player real-time strategy game engine.
 It's shipped with the GlestPack mod, which includes several factions,
 each one consisting of many 3d characters. The factions are loosely
 based on historical empires with added elements of fantasy, such as
 mummies produced by Egyptian priests, Indian shamans who summon
 thunderbirds for air assaults, and Norsemen who can build flying
 valkries and "Thors". Start the game by harvesting natural resources,
 then use the cash to produce an army. Single-player mode against the
 CPU is also available.
 .
 The current version is fully playable and supports both single player
 games against CPU controlled players and multiplayer matches over the
 Internet or a LAN.

